body {
    margin: 0;    
    background: grey;
    font-family: Helvetica, sans-serif;
} 


div#container {    
    height: 800px;
    width: 100%;    
}


div#header {        
    width: 100%;  
    height: 100px;        
    background: blue;
    color: white;    
    border: 1px dashed blue;
}


ul#links > li {
    display: block;
    float: right;  
    margin: 10px;
}


div#header > h2 {        
    display: block;
    float: left;
    margin-left: 100px;
}


a:link {        
    color: white;
    background-color: red;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;   
    border-radius: 5px;
}


div#content {        
    width: 100%;    
    background: grey;     
    height: 620px;    
    border: 1px dashed grey;
}


table {
    text-align: center; 
    vertical-align: middle;    
}


th {
    padding-left: 5px;    
    padding-right: 5px;
}


div#content > form > table#network_details {        
    border: 1px solid black;    
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
}


div#content > form >  p, select, input[type="password"] {
    margin-left: 100px;
}


div#content > form > p > input[type="submit"] {           
    margin-top: 20px;    
}


div#content > form > p > input[type="reset"] {
    margin-left: 20px;    
    margin-top: 20px;
}


div#footer {
    width: 100%;  
    height: 80px;    
    position: fixed;
    bottom: 0px;    
    background: black;
    color: white;    
    border: 1px dashed black;
}


div#footer > p {
    margin-left: 100px;
}
