a {
	text-decoration: none;
}
a#nextpage {
	color: black;
	text-decoration: underline;
	display: block;
	float: left;
	width: 10%;
}
a#prevpage {
	color: black;
	text-decoration: underline;
	display: block;
	float: left;
	margin-left: 5%;
	width: 10%;
}
body {
	margin: 0;
	background: black;
}
div#content {
	display: block;
	width: 760px;
	height: 670px;
	float: left;
	background: white;
	padding-left: 10px;
	margin-left: 25px;
	margin-top: -195px;
	font-size: 14px;
}
div#main {
	margin-left: 20px;
	padding: 30px;
	background: white;
	width: 1200px;
	height: 606px;
}
div#navigation {
	display: block;
	margin-top: 160px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	min-height: 20px;
	width: 350px;
}
div#navigation > span {
	display: block;
	text-align: center;
	float: left;
	width: 70%;
}
div#title {
	float: left;
	clear: both;
	background: red;
	margin-left: -50px;
	width: 440px;
	height: 100px;
}
div#title > h1 {
	background: white;
	display: block;
	width: 350px;
	height: 60px;
	margin-left: 80px;
	margin-top: 15px;
	padding-top: 10px;
	text-align: center;
}
div#toc {
	display: block;
	background: yellow;
	width: 405px;
	height: 465px;
	padding-top: 30px;
	clear: left;
	float: left;
}
div#toc h6 {
	margin-top: -20px;
}
div#main > h4 {
	display: block;
	float: left;
	clear: left;
	color: red;
}
img#img_cp8 {
	background: white;
	float: right;
}
img#img_mr_right {
        background: white;
	float: right;
        margin-left: 20px;
}
ol#toc_list {
	margin-top: 0px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	min-height: 200px;
	width: 310px;
}
ol#toc_list > li {
	display: block;
	clear: left;
}
ol#toc_list > li:hover {
	float: left;
	clear: none;
	background: red;
	color: white;
	text-decoration: underline;
}
ol#toc_list a:hover {
	color: white;
}
p#justified {
        text-align: justify;
}
table.CPTags {
	width: 750px;
	border: 2px solid black;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 13px;
	text-align: center;
}
table.CPTags tr {
	border-top: 1px solid black;
}
table.CPTags tr > td:first-child {
	font-weight: bold;
	text-align: left;
}
table.CPTags tr > td:last-child {
	text-align: left;
	border-left: 1px solid black;
}
table.upnp {
	width: 600px;
	border: 2px solid black;
	border-collapse: collapse;
	margin-bottom: 10px;
}
table.upnp td {
	padding: 5px;
}
table.upnp tr > td:first-child {
	font-weight: bold;
	border-right: 1px solid black;
	text-align: top;
	min-width: 85px;
}
table.upnp th {
	background: black;
	color: white;
}
table.UMLclass {
	font-family: monospace;
	width: 600px;
	border: 2px solid black;
	border-collapse: collapse;
}
table.UMLclass th {
	border: 2px solid black;
	padding: 5px;
}
table.UMLclass td {
	border: 1px solid black;
	white-space: pre;
	padding: 5px;
}
tr.dotted_row {
	height: 1px;
}
tr.dotted_row > td {
	padding: 2px;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}
xmp#scaled {
    font-size: 80%;    
}
div#ic_architecture {
	width: 700px;
	height: 350px;
}
div#legend {
	margin-top: 350px;
	margin-left: 200px;
	float: left;
}
div#legend span {
	margin-right: 5px;
	float: left;
	clear: both;
	width: 14px;
	height: 14px;
	border: 1px solid black;
}
div#cp_source_tree {
	float: left;
	font-size: 18px;
}
div#cp_source_tree ul {
	list-style: none;
}
li.main_class {
	color: green;
}
li.int_class {
	color: orange;
}
li.ext_class {
	color: blue;
}
li.interface_file {
	color: red;
}
li.running_file {
	color: brown;
}
span.main_class {
	background: green;
}
span.int_class {
	background: orange;
}
span.ext_class {
	background: blue;
}
span.interface_file {
	background: red;
}
span.running_file {
	background: brown;
}

/*
 * INTERFACE SECTION STYLE RULES
 */

.no_top_margin {
	margin-top: 0px;
} 
.no_bottom_margin {
	margin-bottom: 0px;
}
img#iface_bmp2 {
	margin: 10px 50px 10px 50px;
	height: 270px;
	width:	650px;
}
img#iface_bmp3 {
	margin: 10px 50px 10px 50px;
}
img#iface_bmp4 {
	margin: 10px -10px 10px -10px;
}
img#iface_bmp5 {
	margin: 10px -10px 10px -10px;
	width: 750px;
}
img#iface_bmp6 {
	margin: 20px 10px 20px 10px;
}
img#iface_bmp7 {
	margin: 0px;
	width: 747px;
	height: 400px;
}
span.textbox {
	border-width: 2px;
	border-style: solid;
}
span.green {
	border-color: green;
}
span.brown {
	border-color: brown;
}
span.blue {
	border-color: blue;
}
span.lightblue {
	border-color: lightblue;
}
span.red {
	border-color: red;
}
span.yellow {
	border-color: yellow;
}